.button {
  border: none;
  background: var(--primary);
  color: var(--text-over-primary);
  display: flex;
  justify-content: center;
  min-width: 24rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  margin: 4.8rem 0;
  cursor: pointer;
}

.button svg {
  width: 3.2rem;
  height: 3.2rem;
}

.button:hover {
  filter: brightness(70%);
}

.orange {
  background: var(--primary);
  color: var(--text-over-primary);
}

.red {
  background: var(--error);
  color: var(--text-over-primary);
}
